<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <input type="text" v-model="num1">+
    <input type="text" v-model="num2">
    <!-- 注意：默认获取到的是字符串，需要转化为数值类型，再计算 -->
    <span>结果为：{{ +num1 + +num2 }}</span>
    <p>结果为：{{ (num1 - 0) + (num2 - 0) }}</p>
  </div>

  <script src="./vue.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        num1: '',
        num2: ''
      }
    })
  </script>
</body>

</html>